* {
    border: 1px solid red;
    padding: 0;
    margin: 0;
}

body {
    display: flex; 
    font-family: sans-serif;
    flex-direction: column;
}

.text.header {
    font-size: 32px;
    font-weight: 800;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
}

.container.menu {
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 8px;
    padding: 8px 20px;
}

.text.menu {
    text-align: center;
    font-size: 16px;
    font-weight: 800;
}

.button {
    flex: auto;
    padding: 2px 4px;
}

.container.grid {
    flex: 0 1 750px;
    aspect-ratio: 1;
    margin: 20px;
    flex-direction: column;
    border: 1px solid black;
}

.grid-row {
    flex: 1;
    display: flex;
    border: none;
}

.grid-element {
    flex: auto;
    aspect-ratio: 1;
    border: 1px solid black;
}

.footer {
    font-weight: 600;
    font-size: 16px;
    padding: 8px;
}