* {
    border: 1px solid red;
    padding: 0;
    margin: 0;
}

body {
    display: flex; 
    font-family: sans-serif;
    flex-direction: column;
}

.text.header {
    font-size: 32px;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
}

#grid-container {
    flex: 0 1 500px;
    aspect-ratio: 1;
    margin: 20px;
    flex-direction: column;
    border: 1px solid black;
}

.grid-row {
    flex: 1;
    display: flex;
    border: none;
}

.grid-element {
    flex: auto;
    aspect-ratio: 1;
    border: 1px solid black;
}

.active {
    background-color: black;
}