* {
    border: 1px solid red;
    padding: 0;
    margin: 0;
}

body {
    display: flex; 
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    padding: 50px 8px;
}

#grid-container {
    display: flex;
    min-width: 300px;
    aspect-ratio: 1;
    max-width: 1000px;
    flex-direction: column;
}

.grid-row {
    flex: 1;
    display: flex;
    border: none;
}

.grid-element {
    flex: auto;
    aspect-ratio: 1;
    border: 1px solid black;
}

.active {
    background-color: black;
}